<div class="outer-container  d-flex justify-content-center ml-10 w-100 p-3">
  <div class="container   ">
    <div class="row">
      <div class="col-md-4" *ngFor="let element of dataSource2"> <mat-card class="card mb-3"> <mat-card-header
            class="card-header">
            <mat-card-title>
              <img [src]="element.avatar" alt="Avatar" class="rounded-circle" width="70" height="70">
            </mat-card-title>
            <mat-card-subtitle>{{ element.email }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="card-body ">
            <p>ID: {{ element.id }}</p>
            <p>DSA: {{ element.subject1 }}</p>
            <p>DBMS: {{ element.subject2 }}</p>
            <p>OOPS: {{ element.subject3 }}</p>
          </mat-card-content>
          <mat-card-actions class="card-footer">
            <button class="btn btn-success" (click)="editDetails(element.id)">Edit Details</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

</div>