<nav class="navbar navbar-expand-md navbar-light bg-info ">
  <div class="container-fluid">
    <a class="navbar-brand " href="#">User Information</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button class="btn btn-secondary register_student animated fadeIn" (click)="registerStudent()">
            Register New Student
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<table class="table table-striped" mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="avatar">
    <th mat-header-cell *matHeaderCellDef> Avatar </th>
    <td mat-cell *matCellDef="let element"> <img src="{{element.avatar}}" style="width: 15rem; height: 15rem;"
        class="img-fluid"> </td>
  </ng-container>

  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef> View Profile </th>
    <td mat-cell *matCellDef="let element">
      <button class='btn btn-primary' mat-icon-button (click)="expandData(element.id)">
        <mat-icon>search</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element">

      <button class='btn btn-danger' mat-icon-button (click)="deleteData(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" aos="fade-up" aos-offset="200" aos-delay="50"
    aos-duration="1000" aos-easing="ease-in-out" aos-mirror="true" aos-once="false" aos-anchor-placement="top-bottom">
  </tr>
</table>

<!-- <button (click)="postData(7,'Dhyan','http://lorem2')">POST REQUEST</button> -->